.result,
.result2{
    display: none;
}
input{
    border-radius: 62px;
padding: 12px 20px;
width: 326px;
height: 48px;
background: #f0f0f0;
border: none;
outline: none;
}
button{
    border-radius: 62px;
padding: 12px 16px;
width: 119px;
height: 48px;
background: #000;
font-weight: 500;
font-size: 16px;
color: #fff;
border: none;
outline: none;
align-items: center;
}